* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.Navbar {
  height: 70px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 82px;
  margin-left: 30px;
}

.Hero .img-group {
  display: block;
  margin: 0 auto;
  /* max-width: 100%; */
  max-width: 400px;
  padding: 26px 0 32px;
}

.Hero h1 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  padding-left: 36px;
  color: #000000;
}

.Hero p {
  font-weight: 300;
  line-height: 110%;
  color: #222222;
  padding-left: 36px;
}
