* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.Navbar {
  height: 70px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 82px;
  margin-left: 30px;
}

.Hero .img-group {
  display: block;
  margin: 0 auto;
  /* max-width: 100%; */
  max-width: 400px;
  padding: 26px 0 32px;
}

.Hero h1 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  padding-left: 36px;
  color: #000000;
}

.Hero p {
  font-weight: 300;
  line-height: 110%;
  color: #222222;
  margin-left: 36px;
  width: 320px;
  margin-bottom: 50px;
}

section {
  padding: 20px;
}

.Card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-left: 37px;
  width: 175px;
  font-size: 12px;
  font-weight: 300;
  color: #222222;
  line-height: 110%;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.Card .title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card p {
  margin: 0;
  padding-top: 8px;
}

.Card .img-zaferes {
  border-radius: 9px;
}

.Card .img-star-rating {
  width: 14px;
  margin-right: 2px;
}

.Card .reviews {
  display: flex;
  align-items: center;
}

.Card .ratings span {
  color: #918e9b;
}

.Card .price-pp {
  margin-top: auto;
}

.Card .price-pp span {
  font-weight: 600;
}
